:root {
  --lightBlue: #e0f4ff;
  --iconBlue: #14168c;
  --shadowBlue: rgba(33, 23, 229, 0.164);
  --buttonBlue: rgba(20, 22, 140, 0.9);
  --font-main: cursive;
}

body {
  overflow-x: hidden;
}

@keyframes slideOutUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-out {
  animation: slideOutUp 0.5s forwards;
}

.animate-in {
  animation: slideInDown 0.5s forwards;
}

#main-page {
  justify-self: center;
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
}

#main-page .film-icon svg {
  font-size: 100pt;
  margin: 0;
  padding: 0;
  align-self: start;
  color: var(--iconBlue);
}

#main-page .icon-slider {
  display: flex;
  flex-direction: column;
  animation: 5s slide infinite linear;
}

#main-page .icon-slider-1 {
  display: flex;
  flex-direction: column;
  animation: 5s slide-reverse infinite linear;
}

.icons::before,
.icons::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
  z-index: 10;
}

.icons::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--lightBlue) 20%,
    transparent 100%
  );
}

.icons::after {
  bottom: 0;
  background: linear-gradient(to top, var(--lightBlue) 20%, transparent 100%);
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

#main-info {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 5pt;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.logo {
  margin: 0;
  font-size: 58pt;
  background: linear-gradient(
    90deg,
    var(--iconBlue) 0%,
    rgb(35, 35, 240) 50%,
    var(--buttonBlue) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-family: var(--font-main);
}

.manage {
  margin: 0;
  font-style: normal;
  font-family: var(--font-main);
  font-size: 20pt;
  color: var(--buttonBlue);
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main-button,
button {
  background: var(--buttonBlue);
  width: calc(30% - 5%);
  color: #f2f2f2f2;
  font-size: 16pt;
  letter-spacing: 3px;
  font-family: var(--font-main);
  padding: 10px 10px;
  border-radius: 50px 10px 50px 10px;
  box-shadow: 8px 8px 2px 0px var(--shadowBlue);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease,
    padding 0.3s ease;
}

.main-button:hover,
button:hover {
  background: linear-gradient(
    to bottom right,
    var(--iconBlue) 20%,
    rgb(90, 150, 255) 70%,
    rgb(200, 230, 255) 95%
  );
  cursor: pointer;
  transform: translateX(-5%);
  transform: translateY(-5%);
  box-shadow: 13px 13px 5px 2px var(--shadowBlue);
  /* border: 2px var(--lightBlue) solid; */
  border: 2px var(--buttonBlue) solid;
}

/* add form style */

#add-form {
  display: grid;
  gap: 1rem;
}

.head {
  place-items: center;
}

.head h2,
.head .logo {
  font-family: var(--font-main);
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 2px;
}

.head h2,
.login {
  font-size: medium;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

h2 p {
  cursor: pointer;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0;
}

h2 p:hover {
  color: var(--iconBlue);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.delete {
  margin-left: auto;
  opacity: 70%;
}

#add-fields .logo {
  font-size: 26pt;
}

.input-group,
.import-group {
  position: relative;
}

.form-input,
.star-list,
.form-select,
.import-group {
  box-sizing: border-box;
  padding: 8px 0.5rem;
  width: 30vw;
  transition: padding 0.2s ease;
  border-radius: 5px;
  border: none;
  font-size: small;
}

.form-select {
  padding: 8px 0.3rem;
}

.form-label {
  pointer-events: none;
  position: absolute;
  left: 0.5rem;
  height: 100%;
  align-content: center;
  opacity: 70%;
  color: var(--buttonBlue);
  font-style: italic;
}

.form-input::placeholder {
  color: transparent;
}

.form-input:focus,
.form-input.form-input:not(:placeholder-shown),
.form-select,
.import-group .form-label {
  padding-top: 1.2rem;
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label,
.import-group .form-label,
.form-select + .form-label {
  align-content: start;
  font-size: x-small;
  padding: 5px 0;
  opacity: 100%;
}

.form-btn,
.cancel-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 14pt;
}

.cancel-btn {
  opacity: 40%;
  font-size: 12pt;
}

input[type="file"] {
  letter-spacing: 2px;
  background: white;
  height: fit-content;
  color: var(--iconBlue);
  width: 100%;
  padding-bottom: 1rem;
}

input[type="file"]::-webkit-file-upload-button {
  letter-spacing: 2px;
  width: 50%;
  background: var(--buttonBlue);
  padding: 0.5rem;
  color: var(--lightBlue);
  border-radius: 10px;
  margin: 0;
  margin-right: 1rem;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background: linear-gradient(
    to bottom right,
    var(--iconBlue) 20%,
    rgb(90, 150, 255) 70%,
    rgb(200, 230, 255) 95%
  );
  cursor: pointer;
  transform: translateX(-5%);
  transform: translateY(-5%);
}

.choose-btn,
.choose-btn:hover {
  background: white;
  border: none;
  width: 100%;
  box-shadow: none;
  transform: none;
  border-radius: 10px;
}

.import-data {
  height: 20vh;
  width: 100%;
  background: white;
  border-top: 5px var(--iconBlue) ridge;
  border-left: 5px var(--iconBlue) ridge;
  border-bottom: 1px var(--iconBlue) solid;
  border-right: 1px var(--iconBlue) solid;
  padding: 5px 10px;
  justify-self: center;
  white-space: pre-wrap;
  border-radius: 10px;
  overflow-y: auto;
  font-weight: normal;
  letter-spacing: 0;
  font-style: normal;
}

.import-data::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  padding-left: 2px;
}

.import-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 2rem;
  width: 3px;
  background-color: var(--buttonBlue);
}

/* search page */

#search-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: max-content;
}

aside {
  background: var(--shadowBlue);
  display: grid;
  gap: 1rem;
  place-content: start;
  justify-content: center;
}

aside .logo {
  font-size: 36pt;
}

.logo:hover {
  cursor: pointer;
}

.add-button {
  width: 100%;
  font-size: medium;
}

/* login popup */

.popup-bg,
#create-popup {
  position: absolute;
  top: 0;
  z-index: 40;
  background: #0000006f;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

#dialog-btn{
  font-size: 12pt;
  border-radius: 10px;
  padding: 2px 5px;
  width: max-content;
}

.popup {
  overflow-y: auto;
  background: var(--lightBlue);
  border-radius: 10px;
  border: 5px solid var(--buttonBlue);
  padding: 2rem 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  transform: translateY(-100%);
  font-size: small;
}

#user-form {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}

#user-form .logo {
  font-size: 34pt;
}

#user-form .head {
  display: grid;
}

#user-form button {
  width: 100%;
}

.pass-eye,
.add-star {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 30;
  height: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: var(--iconBlue);
}

.add-star {
  font-size: 16pt;
}
.add-star:hover {
  font-size: 18pt;
  cursor: pointer;
}

.star-list {
  margin-top: -1rem;
  letter-spacing: 0;
}

.head .login {
  transform: translateY(10%);
}

#movie-main {
  padding: 2rem;
  min-height: 100vh;
}
.top-hr {
  border: 2px solid var(--iconBlue);
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}

.sort {
  display: flex;
  align-items: center;
  height: max-content;
  gap: 2px;
  font-size: 12pt;
  font-family: var(--font-main);
  letter-spacing: 1px;
}

#search-page h2 {
  font-size: 16pt;
  font-weight: normal;
  font-family: var(--font-main);
  letter-spacing: 1px;
  margin: 0;
}

.search-input {
  height: 1.5rem;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 14pt;
  font-family: var(--font-main);
  letter-spacing: 1px;
  margin: 0;
  padding: 1rem 5px;
  gap: 1rem;
}

.movie:hover {
  cursor: pointer;
  background: var(--shadowBlue);
}

.delete:hover {
  opacity: 100%;
}

.movie svg {
  color: var(--iconBlue);
  font-size: 24pt;
}

.more {
  margin-top: 1rem;
  font-family: var(--font-main);
  letter-spacing: 1px;
  font-size: 14pt;
}

.more:hover {
  cursor: pointer;
  color: var(--buttonBlue);
  text-decoration: underline;
  text-underline-offset: 5px;
}

input[name="actors"]:placeholder-shown ~ .add-star {
  display: none;
}

@media (max-width: 820px) {
  #main-page {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }

  .film-icon svg {
    transform: rotate(90deg);
  }

  .icons {
    display: flex;
  }

  #main-page .icon-slider,
  #main-page .icon-slider-1 {
    display: flex;
    flex-direction: row;
    animation: 5s slideX infinite linear;
  }

  #main-page .film-icon svg {
    font-size: 80pt;
  }

  #main-info .logo {
    font-size: 38pt;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: space-evenly;
    gap: 1rem;
  }

  #buttons .main-button {
    width: 100%;
  }

  @keyframes slideX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-60%);
    }
  }

  @keyframes slideX-reverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(160%);
    }
  }

  .popup-bg,
  #create-popup {
    position: absolute;
    z-index: 40;
    background: #0000006f;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }

  .popup {
    width: 95%;
    height: max-content;
    margin: 0;
    padding: 0;
  }

  #user-form {
    margin: 0;
    padding: 1rem;
  }

  #user-form button {
    width: 90%;
  }

  .popup .head {
    margin: 0;
  }

  .login-info {
    width: 100%;
    font-size: 12pt;
    text-justify: center;
  }

  .head .login {
    width: 90%;
    text-justify: center;
  }

  .input-group {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .form-input {
    width: 100%;
  }

  #add-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }

  .form-input,
  .form-select {
    width: 100%;
  }

  .import-data {
    width: 90%;
    place-self: center;
  }

  #search-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  aside {
    padding: 1rem 0;
    width: 100%;
  }

  .info svg {
    flex-shrink: 0;
  }
}
