:root {
  --lightBlue: #e0f4ff;
  --iconBlue: #14168c;
  --shadowBlue: rgba(33, 23, 229, 0.164);
  --buttonBlue: rgba(20, 22, 140, 0.9);
  --font-main: cursive;
}

#main-page {
  justify-self: center;
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-page .film-icon svg {
  font-size: 100pt;
  margin: 0;
  padding: 0;
  align-self: start;
  color: var(--iconBlue);
}

#mainPageLogo .film-icon {
  align-self: flex-start;
}

#main-page .icon-slider {
  display: flex;
  flex-direction: column;
  animation: 5s slide infinite linear;
}

#main-page .icon-slider-1 {
  display: flex;
  flex-direction: column;
  animation: 5s slide-reverse infinite linear;
}

/* .icons::before,
.icons::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
  z-index: 10;
}

.icons::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--iconBlue) 0%,
    rgba(11, 96, 176, 0.6) 40%,
    rgba(11, 96, 176, 0.3) 70%,
    transparent 100%
  );
}

.icons::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    var(--iconBlue) 0%,
    rgba(11, 96, 176, 0.6) 40%,
    rgba(11, 96, 176, 0.3) 70%,
    transparent 100%
  );
} */

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60%);
  }
}

#main-info {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 5pt;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.logo {
  margin: 0;
  font-size: 58pt;
  background: linear-gradient(
    90deg,
    var(--iconBlue) 0%,
    rgb(35, 35, 240) 50%,
    var(--buttonBlue) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-family: var(--font-main);
}

.manage {
  margin: 0;
  font-style: normal;
  font-family: var(--font-main);
  font-size: 20pt;
  color: var(--buttonBlue);
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main-button,
button {
  background: var(--buttonBlue);
  width: calc(30% - 5%);
  color: #f2f2f2f2;
  font-size: 16pt;
  letter-spacing: 3px;
  font-family: var(--font-main);
  padding: 10px 10px;
  border-radius: 50px 10px 50px 10px;
  box-shadow: 8px 8px 2px 0px var(--shadowBlue);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease,
    padding 0.3s ease;
}

.main-button:hover,
button:hover {
  background: linear-gradient(
    to bottom right,
    var(--iconBlue) 20%,
    rgb(90, 150, 255) 70%,
    rgb(200, 230, 255) 95%
  );
  cursor: pointer;
  transform: translateX(-5%);
  transform: translateY(-5%);
  box-shadow: 13px 13px 5px 2px var(--shadowBlue);
  border: 2px var(--lightBlue) solid;
}

#help {
  position: absolute;
  top: 10px;
  background: var(--shadowBlue);
  right: 10px;
  opacity: 70%;
  border-radius: 50%;
  border: 2px var(--shadowBlue) solid;
  font-weight: 300;
  font-size: 12pt;
}

#help:hover {
  cursor: pointer;
  background: var(--buttonBlue);
  color: #e0f4ff;
}

/* add form style */

#add-form {
  font-style: normal;
  letter-spacing: 2px;
  height: 100vh;
  place-content: center;
}

#add-fields {
  display: grid;
  place-items: center;
  width: max-content;
  place-self: center;
  gap: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  background: var(--shadowBlue);
  box-shadow: 5px 5px 5px 2px var(--shadowBlue);
  outline: 10px var(--lightBlue);
}

.head {
  place-items: center;
}

#add-fields h2,
#add-fields .logo {
  font-family: var(--font-main);
  margin: 0;
  padding-bottom: .5rem;
}

#add-fields h2{
  font-size: large;
}

#add-fields .logo {
  font-size: 26pt;
}

.input-group {
  position: relative;
}

.form-input,
.form-select {
  box-sizing: border-box;
  padding: 8px 0.5rem;
  width: 30vw;
  transition: padding 0.2s ease;
  border-radius: 5px;
  border: none;
  font-size: small;
}

.form-select {
  padding: 8px 0.3rem;
}

.form-label {
  position: absolute;
  left: 0.5rem;
  height: 100%;
  align-content: center;
  opacity: 70%;
  color: var(--buttonBlue);
  font-style: italic;
}

.form-input::placeholder {
  color: transparent;
}

.form-input:focus,
.form-input.form-input:not(:placeholder-shown),
.form-select {
  padding-top: 1.2rem;
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label,
.form-select + .form-label {
  align-content: start;
  font-size: x-small;
  padding: 5px 0;
  opacity: 100%;
}

.form-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 12pt;
}

.form-btn:hover {
  border-bottom: 2px var(--lightBlue) solid;
  border-right: 2px var(--lightBlue) solid;
  border-top: none;
  border-left: none;
}
